<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ADMIN | TRAINERS</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/table.css}" />
</head>
<body>
<div class="container">
    <h1>TRAINERS</h1>
    <a href="admin/fitness/data">CREATE FITNESS</a>
    <table id="trainers" class="trainers" name="trainers">
        <thead>
            <tr>
                <th>ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>ALLOW</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="trainer : ${list}" >
                <td th:text="${trainer.id}"></td>
                <td th:text="${trainer.firstName}"></td>
                <td th:text="${trainer.lastName}"></td>
                <td><a th:href="${'/allow/' + trainer.id}">ALLOW</a></td>
            </tr>
        </tbody>
        <tbody>
        </tbody>
    </table>
    <div class="trainers table-ending"></div>
</div>
</body>
</html>
