<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/employees.css}"/>
</head>
<body>


<h1>Employees</h1>

<button onclick="location.href = '/signup'">Add new employee</button>
<br><br>
<table id="employees">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>See more</th>
        <th>Delete</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.username}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.password}"></td>
        <td th:text="${employee.mobileNumber}"></td>
        <td th:text="${employee.birthDate}"></td>
        <td th:text="${employee.position}"></td>
        <td><a th:href="${'/employees/' + employee.id}">View</a></td>
        <td><a th:href="${'/delete/' + employee.id}">Delete</a></td>
    </tr>
</table>

</body>
</html>
