<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ADMIN | TRAINERS</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/table.css}" />
</head>
<body>
<style>

</style>
<div class="container">
    <h1>ADD TRAINERS TO THE FITNESS CENTRE</h1>
    <table class="creator">
        <thead>
        <tr>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>ALLOW</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trainer : ${list}" >
            <td th:text="${trainer.firstName}"></td>
            <td th:text="${trainer.lastName}"></td>
            <td><a th:href="${'/admin/fitness/'+fitness.id+'/trainers/' + trainer.id}">ADD TO THE CENTRE</a></td>
        </tr>
        </tbody>
        <tbody>
        </tbody>
    </table>
    <div class="creator table-ending"></div>
</div>
</body>
</html>
