<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Employees</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" th:href="@{/css/form.css}" />
        <script type="text/javascript">
            var monthtext = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];

            function populatedropdown(dayfield, monthfield, yearfield) {
                var today = new Date();
                var dayfield = document.getElementById(dayfield);
                var monthfield = document.getElementById(monthfield);
                var yearfield = document.getElementById(yearfield);
                for (var i = 0; i < 31; i++) dayfield.options[i] = new Option(i, i + 1);
                dayfield.options[today.getDate()] = new Option(today.getDate(), today.getDate(), true, true); //select today's day
                for (var m = 0; m < 12; m++) monthfield.options[m] = new Option(monthtext[m], monthtext[m]);
                monthfield.options[today.getMonth()] = new Option(monthtext[today.getMonth()], monthtext[today.getMonth()], true, true); //select today's month
                var thisyear = today.getFullYear() - 18;
                for (var y = 60; y > 0; y--) {
                    yearfield.options[60 - y] = new Option(thisyear, thisyear);
                    thisyear -= 1;
                }
                yearfield.options[0] = new Option(today.getFullYear() - 18, today.getFullYear(), true, true); //select today's year
            }
        </script>
    </head>
    <body>
        <div class="container">
            <h1>SIGN UP</h1>
            <form th:action="@{/save-employee}" th:object="${employee}" method="post" enctype="multipart/form-data" onsubmit="return confSubmit()">
                <input type="text" name="username" id="username" placeholder="USERNAME" autocomplete="false" required th:field="*{username}" />
                <input type="text" name="name" id="name" placeholder="FIRST NAME" autocomplete="false" required th:field="*{firstName}" />
                <input type="text" name="lastName" id="lastName" placeholder="LAST NAME" autocomplete="false" required th:field="*{lastName}" />
                <input type="password" name="password" id="password" placeholder="PASSWORD" autocomplete="false" required th:field="*{password}" />
                <input type="text" name="email" id="email" placeholder="EMAIL" autocomplete="false" required class="form-control-material" th:field="*{email}" />
                <input type="text" name="mobileNumber" id="mobileNumber" placeholder="MOBILE NUMBER" autocomplete="false" required class="form-control-material" th:field="*{mobileNumber}" />
                <div class="combo-box">
                    <select required id="daydropdown"> </select>
                    <select required id="monthdropdown"> </select>
                    <select required id="yeardropdown"> </select>
                </div>
                <input id="birthDate" type="text" th:field="*{birthDate}" style="display: none;" />
                <div class="combo-box">
                    <select required id="membership">
                        <option value="Trainer">Trainer</option>
                        <option value="User">User</option>
                    </select>
                </div>
                <input id="role" type="text" th:field="*{position}" style="display: none;" />
                <div class="form-actions">
                    <button type="submit" class="btn">Sign up</button>
                    <p>Already have account? <a href="/login">Login here</a></p>
                </div>
            </form>
        </div>
        <script type="text/javascript">
            function confSubmit() {
                var year = [],
                    month = [],
                    day = [],
                    role = [];
                $.each($("#yeardropdown option:selected"), function () {
                    year.push($(this).val());
                });
                $.each($("#monthdropdown option:selected"), function () {
                    month.push($(this).val());
                });
                $.each($("#daydropdown option:selected"), function () {
                    day.push($(this).val());
                });
                $.each($("#membership option:selected"), function () {
                    role.push($(this).val());
                });
                var data = year + "-" + month + "-" + day;
                $("#birthDate").val(data);
                $("#role").val(role);
                alert($("#role").val());
            }
        </script>

        <script type="text/javascript">
            window.onload = function () {
                populatedropdown("daydropdown", "monthdropdown", "yeardropdown");
            };
        </script>
    </body>
</html>
