<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>MEMBER | TRAININGS</title>
      <meta charset="utf-8" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/table.css}" />
  </head>
  <body>
    <img src="https://wallpaperaccess.com/full/1562614.jpg" alt="">
    <div class="container">
      <h1>TRAININGS</h1>
      <section>
        <div class="empty">
          <h1>NOTHING TO SHOW<br>NO TRAININGS AVAILABLE</h1>
        </div>
        <div class="tbl-header">
          <input type="text" name="keyword" id="keyword" size="50" placeholder="SEARCH" />
          <table class="trainers sortable" name="trainers" cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
              <th>NAME</th>
              <th>TYPE</th>
              <th>DESCRIPTION</th>
              <th onclick="sortTable(0)">PRICE</th>
              <th onclick="sortTable(1)">TIME</th>
              <th>RESERVATION</th>
            </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table id="trainings" cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr th:each="training, a : ${list}" class="item">
              <td th:text="${training.name}"></td>
              <td th:text="${training.type}"></td>
              <td th:text="${training.description}"></td>
              <td th:text="${appointments[a.index].price}"></td>
              <td th:text="${appointments[a.index].date}"></td>
              <td><a th:href="${'/reserve/'+ training.id + '/' + member.id}">REQEST RESERVATION</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>

    <script>
      function sortTable(n) {
  var table,
    rows,
    switching,
    i,
    x,
    y,
    shouldSwitch,
    dir,
    switchcount = 0;
  table = document.getElementById("trainings");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 0; i < rows.length - 1; i++) { //Change i=0 if you have the header th a separate table.
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

$(document).ready(function(){
  $("#keyword").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#trainings tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

    </script>

  </body>
</html>
